<html>
<head>
<script src="app.js"></script>
angular.module('checkker',[])
.controller('mycontrol',function($scope){
$scope.name="";
$scope.checkf=function(){
 if(this.name==""||this.name==" ")
 {
   this.name="Please enter data first";
  }
else if(this.name!=""||this.name==" ")
{
    var x=this.name.split(",");
    var l=x.length;
     if(l>=3)
     {
      this.name="Enjoy!";
      }  
     else{
         this.name="Too much!";
       }
 }

}
});

</head>
  
<body>
 <div ng-app="checkker">
<h2>Give list of food you like to eat in lunch</h2>
<input ng-model="name">
<button ng-click="checkf()">Check If Too Much</button>
<h3>Note: </h3><p> We do not consider an empty item, i.e., , , as an item</p>
</div>
  </body>
</html>
